$dark-text-color: rgb(36, 36, 36);
$light-text-color: rgb(221, 221, 221);
$header-footer-color: rgb(63, 63, 175);
$calculator-background-color: white;
$calculator-border-color: white;
$remove-button-color: rgb(163, 0, 0);
$add-button-color: rgb(0, 100, 0);
$remove-button-color-hover: rgb(95, 0, 0);
$add-button-color-hover: rgb(0, 66, 0);
$output-display-background-color: rgb(71, 71, 71);
$input-display-background-color: #E0E0E0;
$operations-background-color: rgb(255, 192, 75);
$clear-buttons-background-color: rgb(255, 97, 97);
$operations-numbers-padding: 10px 0;
$numbers-background-color: rgb(161, 204, 161);
$operators-numbers-height: 170px;
$numbers-background-color-hover: rgb(95, 167, 95);
$operations-background-color-hover: rgb(255, 166, 0);
$clear-buttons-background-color-hover: rgb(218, 40, 40);
$output-display-border-hover: rgb(98, 98, 226);
$input-display-border-hover: rgb(98, 98, 226);