.footer {
  background: $header-footer-color;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

.footer__text {
  padding-top: 20px;
  width: $calc-width;
  margin: 0px auto;
  color: $light-text-color;
}