.header {
  padding-top: 12px;
  padding-bottom: 12px;
  background: $header-footer-color;
}

.header__title { 
  color: $light-text-color;
  font-size: 3rem;
  width: $calc-width;
  margin: 0px auto;
}

.header__subtitle {
  margin: 0px;
  color: $light-text-color;
  font-size: 1.8rem;
  padding-top: 10px;
  width: $calc-width;
  margin: 0px auto;
}